<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Planing</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Google-Style-Text-Input.css' %}">
    <link rel="stylesheet" href="{% static 'css/Newsletter-Subscription-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Rounded-Search-Input-field-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Rounded-Search-Input-field.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled.css' %}">
</head>

<body>
    <div id="div1" class="float-left"><img class="float-left" src="{% static 'img/To%20do%20list.gif' %}"></div>
    <div id="div2" class="float-right newsletter-subscribe">
        <div class="container float-right">
            <div class="intro" style="padding-left: -20px;">
                <h2 class="text-center">TO DO TODAY</h2>
                <p class="text-center" style="padding-bottom: 60px;padding-top: 50px;">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <form class="form-inline" action="/addItem/"  method="post"> {% csrf_token %}
                <div class="form-group"><input class="form-control" type="text" name="content" placeholder="Your task"></div>
                <div class="form-group"><input class="btn btn-primary" type="submit" value="+ new task" style="background-color: #fa81ae !important;color: #000000;">
            </form>
        </div>
    </div>
    <div class="text-center" style="padding: 16px;padding-top: 400px;"> {% for item in my_todo_items %}
        <div>   
            <form action="/deleteItem/{{ item.id }}/" method="POST"> {% csrf_token %}
                <input type="text" class="search-field" placeholder="{{ item.content }}"/>
                <input  type="submit" class="search-button" value="Done">
            </form>
        </div> {% endfor %}
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>